name: Publish
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version type to release'
        required: true
        type: string
        default: patch
      tag:
        description: 'The dist-tag to release on'
        required: true
        type: string
        default: latest
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: Publish
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: setup git user
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
      - uses: actions/setup-node@v5
        with:
          node-version: 24.x
          registry-url: 'https://registry.npmjs.org'
      - name: npm i -g npm@latest
        run: npm i -g npm@latest
      - name: npm test
        run: npm test
      - name: npm publish
        run: npm publish --access=public --tag="${{ inputs.tag }}" --provenance=false
      - name: git push
        run: git push origin --follow-tags
